* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #004C9A;
  overflow-y: auto;
}

/* início dos estilos do header */
.btn-custom-konviva {
  background: #91268F;
  color: #FFFFFF;
}

.btn-custom-konviva:hover {
  background: #B73BAC;
  color: #FFFFFF;
}

.nav-custom-konviva {
  gap: 1rem;
  margin-right: 1rem;
}

.banner-img img {
  height: auto;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}

/* caixa usada somente em tamanho 
específico de tela */
.box-responsive {
  display: none;
}

.form-custom-konviva {
  justify-content: end;
  padding-top: 6rem;
}

.form-konviva {
  width: 100%;
  height: 100%;
  padding: 1.5rem 1.625rem;
  background: #FFFFFF;
}

.input {
  height: 2.3125rem;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #91268F;
}

.input input {
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  border: none;

  font-size: 1rem;
  color: #0C0C0C;
  background: none;
}

.input input:focus {
  outline: 0.125rem solid #91268F;
}

.input-label {
  font-size: 1rem;
}

.btn-link-konviva {
  background: none;
}


.title-session {
  margin-left: 2.4rem;
}

/* Início estilo da sessão de cursos */
.carousel-custom {
  width: 100%;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-behavior: smooth;
  gap: 2rem;
  padding: 0.5rem;
}

.card-description-bold {
  font-size: medium;
}

.carousel-custom .card {
  height: 100%;
  min-width: 100%;
  min-height: 30rem;
  position: relative;
  opacity: 1;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.carousel-custom::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}


.carousel-custom .card.active {
  opacity: 1;
}

#prev-btn {
  width: 3.125rem;
  height: 3.125rem;
  box-sizing: border-box;

  filter: drop-shadow(0.0625rem 0.125rem 0.625rem #333333);
  background: #FFFFFFA1;
  border-radius: 6.25rem;
  display: none;

}

#next-btn {
  width: 3.125rem;
  height: 3.125rem;
  box-sizing: border-box;
  display: none;

  filter: drop-shadow(0.0625rem 0.125rem 0.625rem #333333);
  background: #FFFFFFA1;
  border-radius: 6.25rem;
}

.session-course {
  margin-top: 2rem;
  position: relative;
}

.top-card {
  position: relative;
}

.img-card {
  width: 100%;
  height: 350px;
}

.booble-course {
  width: 80px;
  height: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem 0.5rem;
  padding: 16px;

  position: absolute;
  color: #FFFFFF;
  background: #303030;
  border-radius: 20px;
}

/* estilizando parte final do card */
.bottom-card-title {
  font-style: normal;
  font-weight: bold;
  font-size: x-large;

  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.box-center-card {
  width: 100%;
  max-width: 20rem;
}

.box-center-stars {
  width: 50%;
  gap: 1rem;
}

.box-center-star {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-description {
  font-weight: 400;
  font-size: larger;
  color: rgba(0, 0, 0, 0.5);
  /* background: #004C9A; */
}

.card-description-bold {
  width: 50%;
  font-weight: bold;
  font-size: larger;
  color: rgba(0, 0, 0, 0.5);
}

.bottom-card-description {
  width: 100%;
  gap: 1rem
}

/* estrela de avaliação */
.stars-container {
  font-size: 0;
  position: relative;
  display: inline-block;
  color: #f2b01e;
}

.stars-container .star:before {
  content: "\2605";
  font-size: x-large;
  position: relative;
}

.stars-container .star.filled:before {
  content: "\2605";
  color: #f2b01e;
  font-size: x-large;
  position: relative;
}

.average-rating {
  font-weight: bold;
  font-size: 1.2rem;
}

.total-ratings {
  font-size: 0.9rem;
  color: #6c757d;
}

.btn-final {
  width: 100%;
}

.session-modules {
  margin-top: 12rem;
  height: 40rem;

}

footer {
  border-top: 1px solid #6c757d;
}

/* footer */
.final-footer-konviva {
  width: 100%;
  background: #E8E8E8;
}

.footer-links {
  width: 100%;
  height: max-content;
  background: #FFFFFF;
}

.footer-links-secondary {
  display: none;
}

.footer-links-primary {
  width: 100%;
}

/* criado para adaptação desktop */
@media (min-width: 1200px) {
  .banner-img {
    position: relative;
    height: 28rem;
    padding-top: 6rem;
  }

  .form-custom-konviva {
    width: 25%;
    position: absolute;
    top: 4rem;
    left: 70%;
  }

  .form-konviva {
    background: rgba(255, 255, 255, 0.7);
    height: 19em;
  }

  .input {
    border: none;
  }

  .box-responsive {
    padding-top: 8rem;
    display: block;
  }

  .session-course {
    margin-top: 5rem;
    overflow: hidden;
  }

  .card-description-bold {
    font-size: medium;
  }

  .box-btn-carousel {
    justify-content: space-between;
    margin-top: 10rem;
  }


  .carousel-custom .card {
    min-width: 20%;
    height: 30%;
    min-height: 24rem;
    flex: 1;
    position: relative;
    opacity: 1;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

  /* Início estilo da sessão de cursos */
  .carousel-custom {
    padding: 2rem 2.4rem;
  }

  .card:hover {
    transform: scale(1.1);
  }

  .img-card {
    width: 100%;
    height: 164px;
  }

  .btn-final {
    margin-top: 2rem;
  }

  .box-btn-carousel {
    width: 100%;
    position: absolute;
    margin-top: 14rem;
    justify-content: space-between;
  }

  #prev-btn {
    display: block;
  }

  #next-btn {
    display: block;
  }

  .bottom-card-title {
    font-size: medium;
  }

  .card-description {
    font-size: small;
  }

  .stars-container .star:before {
    font-size: medium;
  }

  .stars-container .star.filled:before {
    font-size: medium;
  }

  .average-rating {
    font-size: 1rem;
  }

  .total-ratings {
    font-size: 0.8rem;
  }

  .session-modules {
    margin-top: 5rem;
  }

  .footer-links-primary {
    height: 147px;
    justify-content: start !important;
    align-items: start !important;
    flex-direction: column-reverse !important;
    margin-left: 1rem;
  }

  .footer-links-secondary {
    display: block;
    padding: 2rem;
  }

  .img-flags {
    padding-left: 0.5rem;
  }
}